h1{color: red}
p{
	color: blue;
	font-family: verdana;
}
li{
	color: green;
	font-family: algerian;
}
body{
	background-color: pink;
}
#p1{
	color :yellow;
}
.p2{
	color: purple;
}
s